<nav class="navbar navbar-expand-lg navbar-light bg-danger">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
                                       aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link text-white" style="font-size:15px;" [routerLink] = "['/home']" href="#">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" [routerLink] = "['/about']" href="#">About Us</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" [routerLink] = "['/course']" href="#">Course</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" [routerLink] = "['/gallery']" href="#">Gallery</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" [routerLink] = "['/registration']" href="#">Online Registration</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" [routerLink] = "['/checkresult']" href="#">Check Result</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" [routerLink] = "['/checkstatus']" href="#">Check Status</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" [routerLink] = "['/managementteam']" href="#">Management Team</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" [routerLink] = "['/branchlist']" href="#">Branch List</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" [routerLink] = "['/selectedstudents']" href="#">Selected Students</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" [routerLink] = "['/contact']" href="#">Contact Us</a>
        </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>
<footer class="page-footer font-small bg-dark pt-4" style="margin-top: 50px; position: sticky;">
  <div class="container-fluid text-center text-white text-md-left">
    <div class="row">
      <div class="col-md-4 mt-md-0 mt-3">
        <h5 style="padding-left: 50px;">Contact</h5>
        <ul>
          <li style="float: left; list-style:none; padding-left:10px;">
            <i class="fa fa-facebook"></i></li>
          <li style="float: left; list-style:none; padding-left:10px;">
            <i class="fa fa-google-plus"></i></li>
        </ul>
      <li>
        <p>
          <ul>
            <li style="float: left; list-style:none; padding-left:10px;">
              <i class="fa fa-home"></i></li>
              </ul>
          Biskohar Bazar,Siddarth Nagar,U.P.
      <!-- </p> -->
    </li>
        <p>
          <ul>
            <li style="float: left; list-style:none; padding-left:10px;">
              <i class="fa fa-phone"></i></li>
          +91-750-51-51-502
      <!-- </p> -->
              </ul>
              <p>
                <ul>
              <li style="float: left; list-style:none; padding-left:10px;">
                <i class="fa fa-envelope-o"></i></li>
        <a href="mailto:bictcomputercenter@gmail.com">bictcomputercenter@gmail.com</a>
        </ul>
        <!-- </p> -->
              </div>
      <div class="col-md-4 mt-md-0 mt-3">
        <h5>About Us</h5>
        <p>In order to produce Information Technology Professionals, IT education requires a good infrastructure and high quality
           competence. Our Mission ( Welcome to Bharat Institute of Computer and Technology ) has been decided to provide the Computer 
           Education by the help of State & Indian Central Government 
          planning & Programmes announces time to time in nominal charge for every person of our lower and middle class of society.</p>
      </div>
      <div class="col-md-4 mb-md-0 mb-3">
        <h5>Links Goes Here</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#" [routerLink] = "['/home']">Home</a>
          </li>
          <li>
            <a href="#" [routerLink] = "['/about']">About Us</a>
          </li>
          <li>
            <a href="#" [routerLink] = "['/course']">Course</a>
          </li>
          <li>
            <a href="#" [routerLink] = "['/gallery']">Gallery</a>
          </li>
          <li>
            <a href="#" [routerLink] = "['/registration']">Online Registration</a>
          </li>
          <li>
            <a href="#" [routerLink] = "['/checkresult']">Check Result</a>
          </li>
          <li>
            <a href="#" [routerLink] = "['/checkstatus']">Check Status</a>
          </li>
          <li>
            <a href="#" [routerLink] = "['/managementteam']">Management Team</a>
          </li>
          <li>
            <a href="#" [routerLink] = "['/branchlist']">Branch List</a>
          </li>
          <li>
            <a href="#" [routerLink] = "['/selectedstudents']">Selected Students</a>
          </li>
          <li>
            <a href="#" [routerLink] = "['/contact']">Contact Us</a>
          </li>
        </ul>
      </div>
      </div>
    </div>                                      
  <div class="footer-copyright text-white py-3" style="text-align: center;">Developed & Designed By
    <a href="www.linkedin.com/in/ritu-verma-2018">RituVerma</a>
    <br/>
    <br/>
  </div>
</footer>